I18NEXUS_API_KEY="<nexus_key>"

# Active Directory (AD)
AD_URL="ldap://<ip>"
AD_BASE_DN="dc=<dc_name>,dc=<dc_type>"
AD_USERNAME="<ad_email>"
AD_PASSWORD="<secret_password>"

# SMSAPI api
API_URL="https://api.smsapi.com"
MY_NUMBER="<full_number_without_plus>"
MY_NUMBER="xxxxxxxxxxx"
MY_NUMBER2="ccxxxxxxxxxxx"
MY_NUMBER3="+ccxxxxxxxxxxx"
MY_NUMBER4="cc_xxx_xxxx_xxxx"
MY_NUMBER5="xxx_xxxx_xxxx"
API_KEY="<smsapi_key>"

GATEWAYAPI_TOKEN="<gatewayapi_api_key>"

# postgres database
DB_USER="<dbuser>"
DB_PASSWORD="<secret_password>"
DB_HOST="<database.server.com>"
DB_PORT="<3211>"
DB_NAME="<mydb>"

# Auth sessions encryption key
SESSION_SECRET="<secret_password>"