@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
h1 {
  font-size: 35px;
}

a {
  color: #1a0dab
}
a:hover { text-decoration: underline;}